<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @research.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @research.image %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
